<div class="m-tour-table">
  <table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8">

    <ng-container matColumnDef="locButton">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let tour; let i = index;">
        <button mat-mini-fab color="primary"
                aria-label="Set location."
                [style.color]="currentLocation === i ? 'lime' : 'white'"
                [style.background-color]="getInt(tour.distance) ? 'red' : '#673ab7'"
                (click)="setLocation(i)">
          <mat-icon>location_on</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>Rating</th>
      <td mat-cell *matCellDef="let tour">
        <mat-icon *sequence="tour.position" color="primary"> star</mat-icon>
      </td>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let tour">{{tour.title}}</td>
    </ng-container>

    <!-- Distance Column -->
    <ng-container matColumnDef="distance">
      <th mat-header-cell *matHeaderCellDef>Distance</th>
      <td mat-cell *matCellDef="let tour"
          [style.color]="getInt(tour.distance) ? 'red' : 'black'"
      >
        {{tour.distance}}
        <!-- <mat-icon
          *ngIf="maxRange <= getInt(tour.distance)"
          color="warn"
          style="font-size: 1rem"
          aria-hidden="false"
          aria-label="distance to long"
          fontIcon="error"></mat-icon>
          -->
      </td>
    </ng-container>

    <ng-container matColumnDef="trashButton">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let tour; let i = index;">
        <app-confirm-button
          (deleteConfirm)="removeData(i)"
          [executeData]="tour"
          class="m-confirm-btn">
        </app-confirm-button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<footer *ngIf="showControls">
  <button class="a-footer-btn"
          (click)="getUserLocation()"
          mat-raised-button
          color="primary">Use current position
  </button>
</footer>

